<% layout('/layouts/boilerplate') %>

 
<div class="row">
    <div class="col-md-9 offset-md-2 col-sm-12 offset-sm-0">
            <div class="thumbnail" id="showThumbnail">
                <img class="img-responsive" id="showImage" src="<%= skatespot.image %>">
                <div class="caption">
                    <h4><a><%= skatespot.name %></a></h4>
                    <h5><%= skatespot.location %></h5>
                    <h5><%= skatespot.description %></h5>
                    
                    
                    <a class="btn btn-info" href="/skateSpots/<%= skatespot._id %>/edit">Edit</a>
                    <form class="delete-form""
                        action="/skateSpots/<%= skatespot._id %>?_method=DELETE" method="POST">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                    
                </div>
            </div>
            
        </div>
</div>
    
        




       