<% layout('/layouts/boilerplate') %>



 
<div class="row mt-3">
  
    <div class="col-lg-8 offset-lg-2 col-sm-12 offset-sm-0">
        
        <div class="card mb-5">
           
           <div id="skatespotCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
            <div class="carousel-inner card-img-top">
            <% skatespot.images.forEach ((img, i) => { %>
                <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                    <img src="<%= img.thumbnail %>" class="d-block w-100 c-image" alt="...">
                </div>
            <% }) %>  
            </div>
            <% if(skatespot.images.length > 1 ) { %>
                <a class="carousel-control-prev" role="button" data-bs-target="#skatespotCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" role="button" data-bs-target="#skatespotCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            <% } else if(skatespot.images.length == 0 ) { %>
                  <div class="carousel-item active">
                    <img src="https://res.cloudinary.com/danieltisue/image/upload/v1641339605/skateSpots/max-tarkhov-skateDeck.jpg" class="d-block w-100 c-image" alt="...">
                </div>
            <% } %>
        </div>
           
            <div class="card-body">
                <h5 class="card-title mb-3 placeholder"><%= skatespot.name %></h5>
                <p class="card-text"><%= skatespot.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-small"><small><span class="text-muted">Where: </span><br><%= skatespot.location %></small>
                 <div class="mt-3 mb-3">
                    <div id='map' class="show-map"></div>
                </div>
                </li>
            </ul>
            <% if(currentUser && skatespot.author.equals(currentUser._id)) { %>
            <div class="card-body">
            
                <a class="card-link btn btn-sm btn-info" href="/skatespots/<%=skatespot._id%>/edit">Edit</a>
                <form class="d-inline" action="/skatespots/<%=skatespot._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-outline-danger">Delete</button>
                </form>
           
            </div>
          <% } %>
            <div class="card-footer text-muted">
                <small>Entrance fee: $<%= skatespot.price %></small>
            </div>
        </div>
        <h5>Leave a Comment and Rate the spot!</h5>
        <hr class="mb-3" />
       
        <button class="mb-5 btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#commentModal">Leave a Comment</button>
       
    
        <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="commentModalLabel">Add a comment..</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                    <% if(currentUser) { %>
                        <form action="/skatespots/<%= skatespot._id %>/comments" method="POST" class="mb-3 validated-form" novalidate>
                            <div class="mb-3">
                                <fieldset class="starability-coinFlip">
                                <legend>Rating</legend>
                                <input type="radio" id="no-rate" class="input-no-rate" name="comment[rating]" value="1" checked aria-label="No rating." />
                                <input type="radio" id="first-rate1" name="comment[rating]" value="1" />
                                <label for="first-rate1" title="Terrible">1 star</label>
                                <input type="radio" id="first-rate2" name="comment[rating]" value="2" />
                                <label for="first-rate2" title="Not good">2 stars</label>
                                <input type="radio" id="first-rate3" name="comment[rating]" value="3" />
                                <label for="first-rate3" title="Average">3 stars</label>
                                <input type="radio" id="first-rate4" name="comment[rating]" value="4" />
                                <label for="first-rate4" title="Very good">4 stars</label>
                                <input type="radio" id="first-rate5" name="comment[rating]" value="5" />
                                <label for="first-rate5" title="Amazing">5 stars</label>
                                </fieldset>
                            </div>
                            <div class="mb-3">
                                <label for="comment" class="form-label">Comment</label>
                                <textarea class="form-control" name="comment[text]" id="text" cols="30" rows="3" required></textarea>
                            </div>
                            <button class="btn btn-sm btn-primary">Submit</button>
                        </form>
                    <% } else { %>
                        <p class="text-sm text-muted">You have to be looged into create a comment</p>
                        <a class="btn btn-sm btn-primary" href="/login">Log In</a>
                    <% } %>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    
        
        <% for(let comment of skatespot.comments) { %>
        <div class="card mb-3 comment-card">
            <div class="card-body">
                <h6 class="card-subtitle mb-2"><span class="text-muted"><i class="fas fa-user-circle"></i></span> <small><strong><%= comment.author.username %></strong></small></h6>
                <p class="starability-result stars" data-rating="<%= comment.rating %>"></p>
                <p class="card-text"><small><%= comment.text %></small></p>
                <% if(currentUser && comment.author.equals(currentUser)) { %>
                <form action="/skatespots/<%=skatespot._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger"><small>Delete</small></button>
                </form>
                <% } %>
            </div>
        </div>
        <% } %>
    </div>

    
</div>
    
<script>
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
    const skatespot = <%- JSON.stringify(skatespot) %>
</script>
        
<script src="/javascripts/showPageMap.js"></script>


       